# set CMAKE build type (Debug, Release, MinSizeRel)
set (CMAKE_BUILD_TYPE Debug)

# set name of program the executable and library prefix
set (OONF_APP Olsrd)
set (OONF_EXE olsrd)
set (OONF_LIBPREFIX olsrd)

# set default configuration file, default will be '/etc/<OONF_APP>.conf'
# on linux/bsd/osx and '<OONF_APP>.conf' on windows (both in lowercase)

# set (OONF_DEFAULT_CONF "/etc/olsrd.conf")

# setup custom text before and after default help message
set (OONF_HELP_PREFIX "Activates OLSR.org routing daemon\\\\n")
set (OONF_HELP_SUFFIX "")

# setup custom text after version string
set (OONF_VERSION_TRAILER "Visit http://www.olsr.org\\\\n")

# set application version (e.g. 0.7.0)
set (OONF_VERSION 0.7.0)

# set static plugins (space separated list of plugin names)
set (OONF_STATIC_PLUGINS cfgparser_compact cfgio_file remotecontrol httptelnet)

# set to true to stop application running without root priviledges (true/false/apply)
# 'apply' means root is not needed before the configuration is applied, which allows to
# use the --schema command without root. 
set (OONF_NEEDS_ROOT false)

# allow removal of Logging levels from code
set (OONF_REMOVE_DEBUG_LOGGING false)
set (OONF_REMOVE_INFO_LOGGING  false)
set (OONF_REMOVE_WARN_LOGGING  false)

# set to true to remove help texts from code
set (OONF_REMOVE_HELPTEXT false)
