# set OLSRD version (e.g. 0.7.0)
set (OLSRD_VERSION 0.7.0)

# set static plugins (space separated list of plugin names)
set (OLSRD_STATIC_PLUGINS cfgparser_compact cfgio_file)
#set (OLSRD_STATIC_PLUGINS cfgio_file)
#set (OLSRD_STATIC_PLUGINS cfgparser_compact)

# allow removal of Logging levels from code
set (OLSRD_REMOVE_DEBUG_LOGGING false)
set (OLSRD_REMOVE_INFO_LOGGING  false)
set (OLSRD_REMOVE_WARN_LOGGING  false)
